		<div class="col2">            
			<!-- Column 1 start -->
				<fieldset>
				  <legend>Меню  </legend>
                  <p><a href="/air/worldAP">Аэропорты мира.</a></p>
                  <p><a href="/airports">Аэропорты ЕШ.</a></p>
                  <p><a href="">Авикомпании мира.</a></p>
                  <p><a href="/aircompanies">Авиакомпании ЕШ.</a></p>
                  <p><a href="/air/index/EZAPs">Расписание аэропортов ЕШ.</a></p>                             
                 </fieldset>
				 
