
%h1 
  =@date
.rasp_for_day
  %table{:border => 3}
    %thead
      %tr
        %th Время
        %th Рейсы (Занятость пполосы)
    %tbody
      -@arr.each do |x|
        %tr{:bgcolor => x[3]}
          %td
            =x[0]
          %td #{x[2]} #{x[1]} :: #{x[4]}