  <div id="Footer">
  <table>
  <tr>
  <td></td>
  <td>
     <!--<p>Страница загруженна за {elapsed_time} сек.</p>
      <p>Использованно памяти {memory_usage}</p>-->
	<p>&copy; 2011-2013 Единый Информационный Центр. <a href=mailto:glafir@bk.ru>Напишите нам!!!</a></p>
    </td><td>
   <a href="http://meteoinfo.ru/forecasts5000/russia/moscow-area/moscow">
<img src="http://www.meteoinfo.ru/informer/informer.php?ind=27612&type=1&color=13" alt="Гидрометцентр России" border="0" height="100" width="100"></img></a>
 </td>
  </tr>
  </table>
  </div>
