                <fieldset>
				  <legend>Сегодня:</legend>
				<div class="formLine"><p>Число:  
					<%= Date.today.day %></p></div>
                <div class="formLine"><p>День недели:  <%= Russian::strftime(Time.now, "%A") %></p></div>
				<div class="formLine"><p>Месяц:  <%= Russian::strftime(Time.now, "%B") %></p></div>
				<div class="formLine"><p>Год:  <%= Date.today.strftime'%Y' %></p></div>
                </fieldset>
          
                     	    <fieldset>
				  <legend>Сегодня:</legend>
				<div class="formLine"><p>Восзод солнца:  
				
				</p></div>
				<div class="formLine"><p>Закат Солнца:  
				
				</p></div>
                <div class="formLine"><p>Долгота дня:  
				
				</p></div>
				</fieldset>
			<!-- Column 1 end -->
		</div>	
	</div>
</div>