<div class='MainMenu' id='MainMenu'>
	Главное меню.<br />
	<div class='HorMenu' id='HorMenu'>
	===|<%= link_to 'Главная', root_path, data: { keybinding: 'ctrl+alt+h' }%>
	<a href="/general/rw">ЖД</a> ||
	<a href="/general/air" data-keybinding="ctrl+alt+a">Авитранспорт</a> ||
	<a href="/general/help">Справка</a> ||
	<a href="/">Выход</a> |===
	</div>
</div>