<% if user_signed_in? %>
  <li>
 <%= current_user.email %> |
 <%= link_to 'My info', edit_user_registration_path %> |
 <%= link_to 'SignOut', '/logout/', :method => :delete %>
  </li>
<% else %>
  <li>
  <%= link_to 'Login', new_user_session_path  %>
  </li>
<% end %>
